html,
body {
  background: rgba(0, 0, 0, 0) url(lures.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Jost', sans-serif;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  align-items: center;
}

h1, h2 {
  font-size: 5rem; 
  color: #ffffff;
}

.buffer {
  height: 7rem;
}

.btn {
  font-weight: 700;
  color: white;
  text-transform: uppercase;
  border-radius: 300px;
}

.btn-primary {
  background-color: #ee4b08;
  border-color: #ee4b08;
  --bs-btn-hover-bg: #ee4b08;
  --bs-btn-hover-border-color: #ee4b08; 
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  cursor: pointer;
}

.btn-xl {
  padding: 1rem 2rem; 
}