html,
body {
  background: url(lures.jpg) no-repeat center center fixed; 
  background-size: cover;
  height: 100%;
  width: 100%;
  font-family: 'Jost', sans-serif;
}

.image-container {
  position: relative;
  display: inline-block;
  align-items: center;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  align-items: center;
}

h1 {
  font-size: 3rem; 
  color: #ffffff;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 300px;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  --bs-btn-hover-bg: #ee4b08;
  --bs-btn-hover-border-color: #ee4b08; 
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  cursor: pointer;
}

.btn-xl {
  padding: 1rem 2rem; 
}